//Colors
$background: #121212;
$surface: #121212;
$primary: #bb86fc;
$primary_variant: #3700b3;
$secondary: #03dac6;
$error: #cf6679;
$on_primary: #ffffff;
$on_secondary: #000000;
$on_error: #ffffff;
$on_background: #ffffff;
$on_surface: #ffffff;

//Text
$emphasis_high: 87%;
$emphasis_medium: 60%;
$emphasis_disabled: 38%;

//Background
$background_00dp: #ffffff00;
$background_01dp: #ffffff0d;
$background_02dp: #ffffff12;
$background_03dp: #ffffff14;
$background_04dp: #ffffff17;
$background_06dp: #ffffff1c;
$background_08dp: #ffffff1f;
$background_12dp: #ffffff24;
$background_16dp: #ffffff26;
$background_24dp: #ffffff29;
